button {
    color: #3d2497;
    border-radius: 20%;
    margin-top: 1%;
    cursor: pointer;
}

.info-page {
    margin: auto;
    background-color: lightgray;
    border-radius: 30%;
    width: 80%;
    height: 50%;
    margin-top: 5%;
    padding: 2%;
}

.sign-out-button {
    background-color: red;
}